*{
    margin: auto;
}

body{
    font-family: sans-serif ;
    background-color: #fff;
    color: black;
    height: 100vh;
}

@media (max-width: 740px){
  #root{
        font-size: 15px;
    }
}

@media(max-width: 500px){
    .Main{
        flex-direction: column;
    }

    .Nav{
        padding-top: 15%;
    }

    .Feed{
        flex: 3;

    }
    
    
    
}
